.modal-dropdown {
    display: flex;
    justify-content: space-between;
    padding: 3% 0;
}
.modal-dropdown>button {
    border: 2px solid var(--color-brand-100);
    width: 48%;
    height: 40px;
    font-size: var(--font-size-5);
    font-weight: 700;
}
.home {
    background-color: var(--color-brand-100);
    color: white;
}